#simple{
    padding: 140px 0;
    background-image: url("../../../images/simple-bg.png");
    background-repeat: no-repeat;
    background-size: 390px;
    background-position: right center;
}
.simple{
    width: 100%;
    @include display($direction:row, $items:center,$justify:space-between);
    gap: 20px;
    &__image{
        max-width: 566px;
        width: 100%;
        & img{
            width: 100%;
            height: auto;
        }
    }
    &__content{
        max-width: 445px;
        width: 100%;
    }
    &__title{
        @include textStyle($fs:48px,$fw:400, $lh:56px, $clr:$primary-color);
    }
    &__text{
        margin-top: 24px;
        @include textStyle($fs:15px,$fw:400, $lh:28px,$clr:$primary-color-50);
    }
}
@media (max-width:992px) {
    .simple{
        &__image{
            max-width: 400px;
        }
    }
}
@media (max-width:768px) {
    #simple{
        padding: 100px 0;
        background-image: none;
    }
    .simple{
        flex-direction: column-reverse;
        text-align: center;
        gap: 48px;
        &__image{
            & img{
                height: auto;
            }
        }
        &__content{
            max-width: 573px;
        }
    }
}
@media (max-width:576px) {
    .simple{
        gap: 48px;
        &__content{
            max-width: 100%;
        }
        &__title{
            font-size: 36px;
            line-height: 36px;
        }
    }
}