#hero{
    padding-top: 162px;
    background-image: url("../../../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 628px 640px;
    background-position: right top;
}
.hero{
    @include display($direction:row, $items:center, $justify:space-between);
    gap: 20px;
    &__content{
        max-width: 546px;
        width: 100%;
        @include display($direction:column, $items:flex-start, $justify:flex-start);
    }
    &__title{
        @include textStyle($fs:72px, $fw:400,$lh:72px, $clr:$primary-color);
        letter-spacing: -0.55px;
    }
    &__form{
        margin-top: 21px;
        max-width: 445px;
        width: 100%;
        position: relative;
    }
    &__input{
        width: 100%;
        height: 48px;
        outline: none;
        border: 1px solid rgba(251, 252, 254, 1);
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 99px;
        padding-left: 27px;
        @include textStyle($fs:15px, $fw:700, $lh:17px, $clr:$primary-color);
        &::placeholder{
            @include textStyle($fs:15px, $fw:700, $lh:17px, $clr:$primary-color-50);
        }
    }
    &__button{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        outline: none;
        padding: 15px 25px;
        border-radius: 99px;
        border: 1px solid $btn-color;
        box-shadow: 10px 10px 25px -10px #36536B40;
        transition: all .3s linear;
        overflow: hidden;
        &--span{
            position: relative;
            z-index: 2;
            @include textStyle($fs:15px, $fw:700, $lh:17px, $clr:$secondary-color);
            transition: all .3s linear;
        }
        &::before{
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background-color: $btn-color;
            border-radius: 99px;
            transition: all .1s linear;
            z-index: 1;
        }
        &:hover &--span{
            color: $btn-color;
        }
        &:hover::before{
            width: 0%;
        }
        &:active::before{
            width: 100%;
        }
        &:active &--span{
            color: $secondary-color;
        }
    }
    &__text{
        padding-left: 27px;
        margin-top: 16px;
        @include textStyle($fs:15px, $fw:400, $lh:17px, $clr:rgba(108, 130, 148, 1));
        &--link{
            font-weight: 700;
            color: rgba(108, 130, 148, 1);
        }
    }
}

@media (max-width:768px) {
    #hero{
        padding-top: 100px;
        background-image: url("../../../images/hero-bg-tablet.png");
        background-position: top center;
        background-size: 100%;
    }
    .hero{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 48px;
        &__content{
            align-items: center;
            text-align: center;
        }
        &__title{
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.37px;
        }
        &__image{
            width: 159px;
            height: 300px;
        }
        &__text{
            padding-left: 0;
        }
    }
}

@media (max-width:576px) {
    #hero{
        padding-top: 150px;
        background-image: url("../../../images/hero-bg-mobile.png");
        background-position: top top;
        background-size: 100%;
    }
    .hero{
        &__content{
            max-width: 350px;
        }
        &__title{
            font-size: 32px;
            line-height: 38px; 
        }
        &__button{
            margin-top: 16px;
            width: 100%;
            position: relative;
        }
    }
}

@media (max-width:375px) {
    #hero{
        padding-top: 100px;
    }
    .hero{
        &__image{
            width: 127px;
            height: 239px;
        }
    }
}